* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background:linear-gradient(0deg,rgba(255,213,184,1) 0%,rgba(255,213,184,1) 100%);
}